.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;

    background-color: var(--color-primary);
    &__menu {
        display: flex;
        list-style: none;
        &--item {
            padding: 0 16px;
        }
    }
}