:root {
	--color-primary: #3880ff;
	--color-primary-rgb: 56,128,255;
	--color-primary-contrast: #ffffff;
	--color-primary-contrast-rgb: 255,255,255;
	--color-primary-shade: #3171e0;
	--color-primary-tint: #4c8dff;

	--color-secondary: #5260ff;
	--color-secondary-rgb: 82,96,255;
	--color-secondary-contrast: #ffffff;
	--color-secondary-contrast-rgb: 255,255,255;
	--color-secondary-shade: #4854e0;
	--color-secondary-tint: #6370ff;

	--color-tertiary: #5260ff;
	--color-tertiary-rgb: 82,96,255;
	--color-tertiary-contrast: #ffffff;
	--color-tertiary-contrast-rgb: 255,255,255;
	--color-tertiary-shade: #4854e0;
	--color-tertiary-tint: #6370ff;

	--color-success: #2dd36f;
	--color-success-rgb: 45,211,111;
	--color-success-contrast: #000000;
	--color-success-contrast-rgb: 0,0,0;
	--color-success-shade: #28ba62;
	--color-success-tint: #42d77d;

	--color-warning: #ffc409;
	--color-warning-rgb: 255,196,9;
	--color-warning-contrast: #000000;
	--color-warning-contrast-rgb: 0,0,0;
	--color-warning-shade: #e0ac08;
	--color-warning-tint: #ffca22;

	--color-danger: #eb445a;
	--color-danger-rgb: 235,68,90;
	--color-danger-contrast: #ffffff;
	--color-danger-contrast-rgb: 255,255,255;
	--color-danger-shade: #cf3c4f;
	--color-danger-tint: #ed576b;

	--color-medium: #92949c;
	--color-medium-rgb: 146,148,156;
	--color-medium-contrast: #000000;
	--color-medium-contrast-rgb: 0,0,0;
	--color-medium-shade: #808289;
	--color-medium-tint: #9d9fa6;

	--color-light: #f4f5f8;
	--color-light-rgb: 244,245,248;
	--color-light-contrast: #000000;
	--color-light-contrast-rgb: 0,0,0;
	--color-light-shade: #d7d8da;
	--color-light-tint: #f5f6f9;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}